nav {
  padding: 15px;
  background-color: #95a69a;
  /* background: linear-gradient(to top, #95a69a, #eee); */
  color: #ddd;
  border-bottom: 1px solid var(--secondary-color);
  border-top: 1px solid var(--secondary-color);
  position: sticky;
  top: 0;
  z-index: 100;
}

nav ul {
  display: flex;
  gap: 35px;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.nav-item {
  color: white;
}

.active,
.nav-item:hover {
  color: var(--tertiary-color);
  /* color: #b1caa4; */
  transform: translateY(-2px);
  transition: 0.4s;
}
